.preview-frame {
  --scale: 0.9;
  --size: 111.11%;
  border: none;
  width: var(--size) !important;
  height: var(--size) !important;
  -webkit-transform: scale(var(--scale));
  transform: scale(var(--scale));
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.preview-frame.xs {
  --scale: 0.7 !important;
  --size: 142.86% !important;
}
.preview-frame.sm {
  --scale: 0.8 !important;
  --size: 125% !important;
}

@media (orientation: portrait), (max-width: 1000px) {
  .preview-frame.mobile-xs {
    --scale: 0.65 !important;
    --size: 153.85% !important;
  }
  .preview-frame.mobile-sm {
    --scale: 0.8 !important;
    --size: 125% !important;
  }
}