/* © SK Host */

.nebula-watermark {
  position: fixed;
  z-index: 99999;
  left: 20px;
  bottom: 20px;
  background-color: var(--authA);
  padding: 5px 5px;
  border-radius: 12px;
  color: #a7a7a7 !important;
}

.nebula-watermark-text {
  color: #a7a7a7 !important;
  text-decoration: underline #a7a7a7 solid;
}

.nebula-watermark-text.no-underline {
  text-decoration-color: transparent !important;
}

.watermark-highlight {
  color: white !important;
  padding-left: 2px;
}
