/* © SK Host */

.style-module_RcP2_Fvj,
.style-module_2Vp6MaXq,
.ServerRow__StatusIndicatorBox-sc-1ibsw91-2,
.GreyRowBox-sc-1xo9c6v-0,
.ScheduleContainer___StyledGreyRowBox-sc-dlqnx9-2,
.ScheduleEditContainer___StyledDiv3-sc-1fhsmlc-7,
.ScheduleEditContainer___StyledDiv-sc-1fhsmlc-0,
.ScheduleTaskRow___StyledDiv-sc-17r38ls-0,
.Modal___StyledDiv2-sc-9vzni8-3,
.TitledGreyBox___StyledDiv-sc-gvsoy-0,
.ContentContainer-sc-x3r2dw-0.PageContentBlock___StyledContentContainer-sc-kbxq2g-0.jyeSuy.HeRWk div.bg-gray-700 div.grid,
.CodeMirror,
.style-module_1RnhIT0w,
.style-module_2XbmHEcn,
.ContentBox___StyledDiv-sc-mjlt6f-2,
.file-manager-switch,
.MassActionsBar___StyledDiv2-sc-1x2nl3g-1.haunnZ,
.style-module_3kBDV_wo,
.cDkCmT,
.gfhYPP,
.ScreenBlock___StyledDiv2-sc-1f87kcm-2,
.weblink,
.weblink-social,
.alert-container,
.style-module_1n_DiqmT.style-module_1AMtO9lt,
.TitledGreyBox___StyledDiv3-sc-gvsoy-4,
div.xterm-screen,
div.xterm-viewport,
.relative.style-module_1AMtO9lt,
.style-module_RcP2_Fvj .style-module_3TDo--Tn,
div.terminal.xterm,
.CodeMirror-gutters,
.CodeMirror-gutter.CodeMirror-linenumbers,
.CodeMirror-gutter,
div.style-module_1RnhIT0w div.flex.p-6.pb-0.overflow-y-auto,
div.px-6.py-3.bg-gray-700.flex.items-center.justify-end.space-x-3.rounded-b,
.ServerRow___StyledDiv-sc-1ibsw91-3.ecJXa-d .icon.mr-4,
.ServerRow___StyledDiv7-sc-1ibsw91-15.kncYZx,
.ServerRow___StyledDiv9-sc-1ibsw91-18.fZEUwy,
.ServerRow___StyledDiv11-sc-1ibsw91-21.iELGrp,
.ServerRow___StyledDiv1-sc-1ibsw91-21.fosOMA,
div.fixed.bottom-0.mb-6.flex.justify-center.w-full.z-50,
.MassActionsBar___StyledDiv2-sc-1x2nl3g-1.haunnZ.fade-enter-done,
.MassActionsBar___StyledDiv2-sc-1x2nl3g-1.haunnZm,
.TitledGreyBox___StyledDiv-sc-gvsoy-0.oLbNP,
.jqTCDz:not([type="checkbox"]):not([type="radio"]),
[class*="Input-sc"]:not([type="checkbox"]):not([type="radio"]),
.ekbHAG,
select[class*="Select-sc"],
.icbjFC,
.ZkNLd,
.TaskDetailsModal___StyledDiv5-sc-1b5dnyw-7,
textarea.Input__Textarea-sc-19rce1w-1,
.EditScheduleModal___StyledDiv4-sc-wh9db9-6,
.EditScheduleModal___StyledDiv2-sc-wh9db9-4,
.EditScheduleModal___StyledDiv5-sc-wh9db9-7,
.PermissionRow__Container-sc-1h899cn-0,
.CreateBackupButton___StyledDiv2-sc-da8bqw-3,
.ScheduleRow___StyledP3-sc-iuk2mh-5,
.icGkbh,
pre.rounded.font-mono.text-sm,
code.font-mono.text-sm.rounded,
.ScheduleEditContainer___StyledScheduleCronRow-sc-1fhsmlc-5
{
  border-radius: var(--borderRadius) !important;
}


/* top-only */
.style-module_1n_DiqmT.style-module_1AMtO9lt,
div.TitledGreyBox___StyledDiv2-sc-gvsoy-1
{
  border-top-left-radius: var(--borderRadius) !important;
  border-top-right-radius: var(--borderRadius) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* bottom-only */
.style-module_RcP2_Fvj .style-module_3TDo--Tn
{
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: var(--borderRadius) !important;
  border-bottom-right-radius: var(--borderRadius) !important;
}

/* left-only */
.CodeMirror-gutter.CodeMirror-linenumbers
{
  border-top-left-radius: var(--borderRadius) !important;
  border-bottom-left-radius: var(--borderRadius) !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* right-only */
.CodeMirror-lines
{
  border-top-left-radius: var(--borderRadius) !important;
  border-bottom-left-radius: var(--borderRadius) !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* circular */
.style-module_4LBM1DKx,
[class*="Button__ButtonStyle-sc"],
#power-start,
#power-restart,
#power-stop,
.weblink,
.weblink-social,
select[class*="Select-sc"],
.icbjFC,
.keybinds-controls-button,
.SearchModal___StyledSpan-sc-e8elnt-6.epzEyg
{
  border-radius: 100px !important;
}

/* square */
.CodeMirror-gutter.CodeMirror-foldgutter
{
  border-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}