/* © SK Host */

.status-bar {
  height: 100% !important;
  width: 100% !important;
  margin: unset !important;
  border-radius: unset !important;
  border: none !important;
  top: 0;
  bottom: unset;
  left: 0;
  right: unset !important;
  transition-duration: .3s !important;
  border-left: var(--ActiveColor) solid 5px !important;
  background-color: unset !important;
  background: var(--ActiveColor);
  background: linear-gradient(90deg, color-mix(in hsl, var(--ActiveColor) 15%, transparent) 0%, rgba(0,0,0,0) 75%);
  z-index: 1;
}

[class*="GreyRowBox-sc"] > div > div > div,
div:has([class*="ServerRow___StyledFontAwesomeIcon"]) {
  align-items: center;
}

.ServerRow___StyledP2-sc-1ibsw91-5,
[class*="ServerRow___StyledDiv"] > svg[class*="ServerRow__Icon"],
[class*="ServerRow___StyledDiv"] > svg[class*="ServerRow___StyledFontAwesomeIcon"],
[class*="ServerRow___StyledDiv"] > p[class*="ServerRow___StyledP"],
[class*="ServerRow___StyledDiv"] > p[class*="ServerRow__IconDescription"] {
  color: var(--pagePrimary) !important;
  opacity: 0.76;
}

.ServerRow___StyledDiv-sc-1ibsw91-3.ecJXa-d > div.icon.mr-4 svg {
  width: 50px !important;
  color: var(--pagePrimary) !important
}
.ServerRow___StyledDiv-sc-1ibsw91-3.ecJXa-d > div.icon.mr-4 {
  margin-right: 7px;
}

[class*="ServerRow___StyledDiv"] > p[class*="ServerRow___StyledP"]:not(svg[class*="ServerRow___StyledFontAwesomeIcon"] + p) {
  display: none;
}